body{
    overflow-x:hidden;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px !important;
}
.info-entreprise {
    border: solid rgba(110, 108, 108, 0.04) 1px;
}
.block-number {
    border-left: solid rgba(139, 136, 136, 0.39) 1px;
    height: 50px !important;
    margin-left: 30px !important;
}
.block-numbers{
    border-left: solid rgba(139, 136, 136, 0.39) 1px;
    border-right: solid rgba(139, 136, 136, 0.39) 1px;
    height: 50px !important;
    margin-left: 0px !important;
}
.block-numbe{
    /* border: solid rgb(155, 152, 152) 1px; */
    height: 50px !important;
    margin-left: 70px !important;
}
.search-bouton{
    border: solid rgb(145, 141, 141) 1px !important;
    height: 40px !important;
    border-radius: 50px !important;
    padding-right: 30px !important;
}
.tail{
    margin-top: 20px !important;
}
.headers{
    /* width: 100%; */
	height: 660px;
	/* border: solid black 1px; */
	background-image: url("images/rawpixel-602153-unsplash.jpg");
	background-size:cover !important;
	padding: 0px !important;

}
.flo-headers{
    height: 660px;
    background-color: rgba(3, 3, 3, 0.76);
}
.traie{
    width: 15% !important;
    background-color: black;
    border: solid black 2px;
   
}
.traies{
    width: 25% !important;
    background-color: black;
    border: solid black 2px;
    margin-left:6px !important;

}
.block-description{
    height: 400px !important;
    background-color: #f1f1f1 ;
    padding-top: 30px !important;
    font-size: 15px !important;
}
.title-deco{
    font-size: 39px;
    color:#037acc;
    text-align: left;
}
.sidenav-trigger{
    /* margin-left:75px !important; */
    color:#383636 !important;
    position: relative !important;
    bottom: 0px !important;
}
.ico{
    margin-left:-15px !important;

}
.menu-navbar{
    height:100px !important;
}
.title-body {
    text-align: center !important;
    font-size: 50px !important;
    height: 64px !important;
    color: #037acc;
    padding-top: -29px !important;
}
.traie-body{
    width: 10% !important;
    background-color: black;
    border: solid black 2px;
    margin-left: 592px !important;
    margin-top: 21px !important;
}
.incone-img1{
    position: relative;
    top: -39px !important;
    margin-left: 20;
    margin-left: 88%;
}
.incone-img2{
    position: relative;
    top: -69px !important;
    margin-left: 20px;
    margin-left: 94%;
}
.traie-footer{
    width: 20% !important;
    background-color:white;
    border: solid rgb(153, 151, 151) 1px;
    margin-top:-20px !important; 
    margin-right: 150px;
}
.traie-bodys{
    width: 10% !important;
    background-color: black;
    border: solid black 2px;
    margin-left: 599px !important;
    margin-top: 22px !important;
}
/* .card{
    height: 400px !important;
    border-left: none !important;
    border-right: solid rgba(182, 181, 181, 0.753) 1px !important;
} */
.color-block-institut{
    height:170px !important;
    /* margin-top: 245px !important; */
    background-color: #f1f1f1  !important;
}
.hospital-block{
    /* border: solid black 2px; */
    height: 600px !important;
    background-color: #f1f1f1;
}
.separation{
    /* margin-top: 10px !important; */
    border: solid rgb(168, 167, 167) 0.5px !important;
    /* background-color:rgb(94, 93, 93) !important;  */
}
.block-personnaliser{
   margin-top: 30px;
}
.name-text{
   margin-top: 50px !important;
   font-size: 35px !important;
   margin-left: 10px;
}
.tiraie{
    border: solid
}
.block{
    height: 200px;
    /* border: solid black 1px; */
    padding: 0px !important;
    background-image: url("images/2017-11-21-image-5.jpg");
    background-size: cover;
    background-position: center;
}
.flo-block{
    height:100%;
    background-color: rgba(0, 0, 0, 0.418);     
}
.footer{
    height: 800px;
    background-color:#061b30;
}
h1{
    font-size: 30px;
    color: white;
    text-align:center;
}
.outline{
    height: auto;
    margin-top: 120px !important;
	background-color: transparent !important;
	border: 4px solid white  !important;
    color: white !important;
    padding: 20px 90px !important;
    font-size: 30px;

}
.icone-sacial{
    height: 32px;
    margin-top: 9px;
    margin-left: 5px;
}
.mouse-image{
    height:50px;
    width: 50px;
    margin-top: 100px;
}
.paragraphe-deco{
    margin-top: 30px;
    text-align:justify;
    padding:5px; 
    font-size:12px !important;
}
.ico-transforme{
    width: 15px !important;
    height: 15px !important;
    margin-top:2s0px !important;

}
a{
    cursor: pointer !important;
}
.cox-block{
    /* border: solid black 1px !important; */
    height: 450px !important;
    margin-top: 50px;
    background-image: url("images/662955467_780x439.jpg");
    background-size: cover;
}
.cox-incons{
    position: relative !important;
    top: 512px !important;
    margin-left: -764px !important;
}
   
.style-bouton{
text-transform: capitalize;
background-color: white;
border-radius: 95px;
color: black;
border: 3px solid #000;
padding: 0px 60px !important;
text-align: center;

font-size: 36px;
margin-top: 23px;
}
.nov-block{
    /* border: solid black 1px; */
    height: 250px;
    width: 20% !important;
    background-color: red;
    margin-left: 10px !important;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.btn-large {
    height: 54px;
    line-height: 54px;
    font-size: 23px;
    padding: 0px 33px;
}
.color-title-mobile{
    color: blue;
    margin:10px 0px !important;
}
/* li{-
    height: 50px !important;
} */

@media screen and (max-width:993px) and (min-width:601px){
    .brand-logo img{
         width: 100% !important;
         height: 100% !important;
         margin-left: 0px !important;
    }
    .title-deco{
        font-size: 20px !important;
    }
    .welcome-text{
        font-size: 35px !important;
        padding-bottom: 10% !important;
        padding-top: 20% !important;

    }
    .welcome-description{
        font-size: 20px !important;
        line-height: 40px !important;
    }
    .traie-body{
        margin-left:350px !important;
    }
    .card-to-up{
        margin-top: -67% !important;
    }
    .traie-bodys{
        margin-left:320px !important;
    }
    .card-stacked p{
        font-size:12px !important;

    }
    .icone-sacial{
        height: 30% !important;
        margin-left: -5% !important;
        position:relative !important;
        top:10% !important;
    
    }
    .contact-mobile{
        text-align: left !important;
        font-size: 30px !important;
    }
    .contact-mobiles{
      margin-left: 0% !important;
    }
    .title-tablet{
        font-size: 31px !important;
    }

}
@media screen and (max-width:600px){
    .brand-logo img{
         width: 100% !important;
         height: 100% !important;
         margin-left: 0px !important;
    }
    .title-deco{
        font-size: 20px !important;
    }
    .welcome-text{
        font-size: 35px !important;
        padding-bottom: 10% !important;
        padding-top: 20% !important;

    }
    .welcome-description{
        font-size: 20px !important;
        line-height: 40px !important;
    }
    .traie-body{
        margin-left:40% !important;
        width: 20%!important;
        position: relative !important;
        top: -35% !important ; 
    }
    .traie-bodys {
        margin-left: 43% !important;
        width: 15% !important;
        margin-top: -6% !important;
    }
    .card-stacked p{
        font-size:10px !important;

    }
    .card-stacked p:nth-child(2), .card-stacked p:nth-child(3){
        height: 57px;
        overflow: hidden;
        margin-top: 10px !important;

    }
    .card-stacked .card-content{
        padding: 5px !important;
    }
    .nov-block{
        width: 100% !important;
    }
    .card-content-mobil{
        font-size:25px !important;

    }
    .title-body{
        font-size: 20px !important;
        margin-top: 26px !important;
        

    }
    .menu-navbar{
        height:68px !important;
    }
    .learn-mobile a, .learn-mobile i{
        left: 0px !important;
    }
    .heure-mobile{
        position: relative !important;
        top: -30px !important;
    }
    .icone-sacial{
        height: 25px !important;
        margin-left: -5px !important;
    }
    .contact-mobile{
        text-align: left !important;
        font-size: 25px !important;
    }
    .contact-mobiles{
      margin-left: 0% !important;
    }
    .incone-img1 {
        margin-left: 81%;
    }
    .footer{
        height: 1000px !important;
        background-color:#061b30;
    }
    /* .outlines {
        margin-left: -36% !important;
        width: 211% !important;
    }
    .btn{
        margin-left: -280% !important;
    } */


}